@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

:root {
  --body-color: #0e1228;
  --indigo: #6610f2;
}

body {
  background-color: var(--body-color) !important;
  color: #fff !important;
  font-family: "Source Code Pro", monospace !important;
}

/* Nav */
.nav-logo {
  max-width: 150px;
}

/* Header */
header {
  padding-top: 5rem;
  width: 100%;
  height: 100vh;
  text-shadow: 3px 1px 1px var(--indigo);
}
.home-background {
  background: url(/imgs/home-background.png.jpg) center;
  background-size: cover;
}

.profile-picture img {
  text-shadow: 3px 1px 1px var(--indigo);
}
