@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

:root {
  --body-color: #0e1228;
  --indigo: #6710f2;
  --card-transparency: #0e1228db;
  --white: #fff;
}

body {
  background-color: var(--body-color) !important;
  color: var(--white) !important;
  font-family: "Source Code Pro", monospace !important;
  width: 100%;
  height: 100vh;
  background: url(/imgs/home-background.png.jpg) center;
  background-size: cover;
}

section {
  padding: 100px 1rem;
}

/* Nav */
.navbar {
  background: linear-gradient(
      to bottom,
      var(--indigo),
      rgb(255 255 255 / 0%) 100%
    ),
    #ffffff00;
}
.nav-logo {
  max-width: 150px;
}

a.nav-link {
  color: var(--white);
}

/* Header */
header {
  padding-top: 5rem;
  text-shadow: 3px 1px 1px var(--indigo);
}
.home-background {
  background: transparent;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.profile-picture img {
  width: 400px;
  text-shadow: 3px 1px 1px var(--indigo);
}

/* Sobre */
.sobre {
  background: var(--body-color);
}
.sobre-container {
  overflow: hidden;
}

a.btn-leia {
  color: var(--white);
  font-weight: 900;
  transition: 100ms;
  text-decoration: none;
}

a.btn-leia:hover {
  color: var(--indigo);
}

/* Medias */
@media (max-width: 768px) {
  ul.navbar-nav {
    background: var(--card-transparency);
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 1rem;
  }
}
